a{
    display: block;
    color: #333333;
}
.fc-red{
    color: red;
}

/* 페이징 */
.pagination {
    justify-content: center;
    font: 2rem;
}
.pagination li {
    width: 30px;
    height: 30px;
    margin: 0 3px;
    text-align: center;
    line-height: 30px;
}

.pagination li a:hover {
    font-weight: 700;
    color: rgb(1,129,192);
}

.pagination .active span {
    display: block;
    width: 30px;
    height: 30px;
    background: rgb(1,129,192);
    color: #FFFFFF;
    font-weight: 700;
}

tbody tr:hover{
    background: #f2f7f8;
    font-weight: 700;
    cursor: pointer;
    color: rgb(1,129,192);
}

/* 모달 */
.modal label {
    font-weight: 700;
}
.w100{
    display: inline-block;
    text-indent: 5px;
    width: 100px;
    font-weight: 700;
}

.w150{
    display: inline-block;
    text-indent: 5px;
    width: 150px;
    font-weight: 700;
}

.usermodal li{
    height: 40px;
    line-height: 40px;
    list-style-type: square;
    font-size: 16px;
    border-bottom: 1px solid #ccc;
}

li::marker{
    color: rgb(1,129,192);
}

.delBtn{
    border: none;
    border-radius: 5px;
    background-color: rgb(1,129,192);
    width: 70px;
    color: white;
    outline: none;
}

.releasebtn{
    border: none;
    border-radius: 5px;
    background-color: rgb(1,129,192);
    width: 70px;
    color: white;
    outline: none;
}


.insertBtn{
    height: 30px;
}
.card{
    margin-bottom: 0 !important;
}

/* 관리자 수정모달 */
input.editInput{
    border: none;
    border-bottom: 1px solid #ccc;
    width: 75%;
}
input.editInput:focus{
    border-bottom: 1px solid rgb(1,129,192);
}
input.serving{
    width: 63%;
}

.card-body{
    margin-bottom: 0 !important;
}