/* 전체 */
.boardCon {
    padding-top: 50px;
    display: grid;
    grid-template-columns: 1.5fr minmax(150px, 1.5fr) 1000px 2fr;
    font-size: 16px;
}

/* 네비 */
.mNav {
    display: none;
}

.boardNavDiv > div{
    font-size: 35px;
    font-weight: 900;
    padding: 5px 0 40px 16px;
}

.boardNavDiv ul li a, a {
    text-decoration: none;
    color: #000
}

.nav-item {
    font-size: 18px;
    font-weight: 600;
    height: 60px;
}

.boardNavDiv ul li a:hover, a:hover {
    color: #538E04;
}

.listCon {
    padding: 20px 0 50px 0;
}

/* 버튼 */
button {
    background-color: #c1c1c1;
    border: none;
    transition: all 0.2s cubic-bezier(.4,0,.2,1);
    color: white;
    height: 2.2rem;
    width: 6rem;
    padding: 1.5em auto;
    border-radius: 3px;
}

button:hover {
    background-color: #9D9D9D;
}

#greenBtn:hover {
    background-color: #195F1C;
}

.rightBtn {
    text-align: right;
    padding-right: 50px;
}

#greenBtn {
    background-color: #538E04;
}

#deleteBtn {
    font-size: 10px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
}

/* 게시판 콘텐츠 */
.shadow {
    background: #FFFFFF;
    box-shadow: 0px 2px 7px 0px rgba(89, 89, 89, 0.10);
    border-radius: 1px;
    padding: 50px;
}

.shadowYellow {
    background: #FFFFF0;
    box-shadow: 0px 12px 30px #ECECEC;
    display: flex;
    justify-content: center;
    padding: 30px;
    margin-bottom: 30px;
}

.shadowYellow > div {
    padding: 50px 0;
}

.boardDetailTitle {
    display: grid;
    grid-template-columns: 4fr 0.7fr 1fr 1.5fr 0.7fr;
    grid-template-rows: 60px;
    justify-content: space-around;
    font-weight: 600;
    padding-bottom: 10px;
}

.boardDetailTitle div:not(:nth-child(1)) {
    text-align: center;
}

.boardDetailTitle div:nth-child(1) {
    padding: 0 10px;
}

.boardDetailContet {
    padding: 0 10px;
    text-align: center;
}

.likeDiv {
    padding-top: 20px; 
}

.rigtTwoBtnDiv {
    text-align: right;
    padding-top: 20px;
}

.rigtTwoBtnDiv > button {
    margin-left: 5px;
}

/* 이미지 */
.imgDiv {
    padding-bottom: 20px;
}

table {
    border-collapse: separate;
    margin: 0 30px 0px 10px;
}

.trBasic {
    height: 60px;
}

tr td:not(:nth-child(2)) { text-align: center; }
.trBasic td:nth-child(1) { width: 100px; }
.trBasic td:nth-child(2) { width: 350px; padding-right: 20px; }
.trBasic td:nth-child(3) { width: 75px; }
.trBasic td:nth-child(4) { width: 75px; }
.trBasic td:nth-child(5) { width: 75px; }
.trBasic td:nth-child(6) { width: 130px; }

.trMobileMargin {
    border-bottom: 100px solid transparent;
}

td {
    font-weight: 500;
}

.pagination {
    justify-content: center;
    font: 2rem;
}

.trMobile, .trMobileMargin {
    display: none;
}

.foodInsertGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.foodInsertTitleGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.inputRadioBtnDiv{
    display: flex;
}

/* 리스트 페이지 아이콘 */
.bi-bar-chart-fill {
    color: #FFD029;
}

.bi-heart-fill {
    color: #EE6666;
}

.bi-chat-dots-fill {
    color: #6799E4;
}

/* 페이징 */
.pagination li {
    width: 30px;
    height: 30px;
    margin: 0 3px;
    text-align: center;
    line-height: 30px;
}

.pagination li a:hover {
    font-weight: 900;
}

.active span {
    display: block;
    width: 30px;
    height: 30px;
    background: #538E04;
    color: #FFFFFF;
    font-weight: 700;
}

/* 댓글 */
#yellowMargin {
    margin-top: 40px;
}

#yellowMargin > div {
    padding: 30px;
    width: 90%;
}

.replyDiv {
    display: grid;
    row-gap: 10px;
}

.replyDiv > div:nth-child(2) > span{
    display: inline-block;
    margin-right: 10px;
    height: 30px;
    padding: auto 0;
}

/* textarea */
textarea {
    border: none;
    resize: none;
    width: 100%;
    padding: 10px;
    box-shadow: 0px 2px 7px 0px rgba(89, 89, 89, 0.10);
}

#replyInsertDiv {
    display: grid;
    grid-row-gap: 10px;
}

#replyInsertDiv > div:nth-child(4) {
    text-align: right;
}

/* 수정&작성 */
label {
    font-weight: 600;
    width: 80px;
    /* background-color: #195F1C; */
}

#boardInserDiv {
    display: grid;
    grid-row-gap: 30px;
    border: none;
    width: 90%;
}

select {
    border: none;
    border-radius: 0;
    width: 200px;
    height: 35px;
    padding: 0 10px;
    box-shadow: 0px 2px 7px 0px rgba(89, 89, 89, 0.10);
}

input {
    border: none;
    border-radius: 0;
    width: 100%;
    height: 35px;
    box-shadow: 0px 2px 7px 0px rgba(89, 89, 89, 0.10);
    padding: 0 10px;
}

#content {
    scroll-behavior: smooth;
    height: 350px;
}

#picture {
    box-shadow: none;
    padding: 0;
}

#pictureSpan {
    display: grid;
    grid-template-columns: 1fr 100px;
}

#pictureSpan > div {
    text-align: right;
}

.errorMsg {
    color: #538E04;
    font-weight: 600;
}



/* 라디오 버튼 */
.form_radio_btn {
    width: 45px;
    height : 45px;
    margin-right: 1rem;
}
.form_radio_btn input[type=radio] {
    display: none;
}
.form_radio_btn label {
    display: block;
    border-radius: 50%;
    margin: 0 auto;
    text-align: center;
    height: -webkit-fill-available;
    line-height: 45px;
}

/* Checked */
.form_radio_btn input[type=radio]:checked + label {
    background: #538E04;
    color: #fff;
}

/* Disabled */
.form_radio_btn input[type=radio] + label {
    background: #C4C4C4;
    color: #fff;
}

/* 모바일 */
@media (max-width: 500px) {
    .boardCon {
        padding: 0;
        display: inline-block;
        padding: 0;
        margin: 0;
        font-size: 14px;
    }

    .shadow {
        padding: 0px;
    }

    .divUnderShadow {
        padding: 30px;
    }

    .shadowYellow {
        width: 100vw;
        display: inline-block;
        
    }

    .shadowYellow > div {
        padding: 10px 20px;
    }

    .listCon {
        padding: 10px;
    }

    .dis-left, .dis-right, .boardNavDiv {
        display: none;
    }

    /* 페이징 */
    .pagination li {
        width: 20px;
        height: 20px;
        margin: 0 1px;
        text-align: center;
        line-height: 20px;
    }

    .active span {
        display: block;
        width: 20px;
        height: 20px;
        font-size: 12px;
        background: #538E04;
        color: #FFFFFF;
        font-weight: 700;
    }

    .rightBtn {
        padding-top: 10px;
        padding-right: 20px;
    }

    .mNav {
        display: block;
        text-align: center;
        padding: 20px 0;
    }

    .mNav a {
        margin: 0 5px;
        font-weight: 600;
        font-size: 12px;
    }

    table {
        padding-top: 10px;
        border-spacing: 0.2rem;
        border-collapse: separate;
        margin: 0;
    }
    
    .trBasic {
        display: none;
    }
    
    .trMobile {
        display: block;
    }

    tr td:not(:nth-child(2)) {
        text-align: left;
    }

    .trMobileMargin {
        display: block;
        border-bottom: 35px solid transparent;
    }

    .trMobileMargin td{
        padding-right: 8px;
    }

    button {
        height: 30px;
        width: 70px;
        padding: 1.5em auto;
        border-radius: 3px;
        font-size: 14px;
    }

    /* 댓글 */
    #yellowMargin > div {
        width: 100%;
    }

    #reply {
        width: 100%;
    }
}