/* 전체 */
.boardCon {
    padding-top: 50px;
    display: grid;
    grid-template-columns: 1fr minmax(150px, 2fr) 5fr 1fr;
}

/* 네비 */
.mNav {
    display: none;
}

.boardNavDiv > div{
    font-size: 35px;
    font-weight: 900;
    padding: 5px 0 20px 16px;
}

.boardNavDiv ul li a, a {
    text-decoration: none;
    color: #000
}

.boardNavDiv ul li a:hover, a:hover {
    color: #538E04;
}


/* 게시판 콘텐츠 */
.shadow {
    background: #FFFFFF;
    box-shadow: 0px 10px 30px rgba(25, 95, 28, 0.1);
    border-radius: 1px;
}

.shadowYellow {
    /* max-width: 800px; */
    min-width: 600px;
    background: #FFFFF0;
    box-shadow: 0px 12px 30px #ECECEC;
}

.shadowYellow > div {
    margin: 0 auto;
}

.boardDetailTitle {
    display: flex;
}

.boardDetailTitle div {
    margin-right: 2rem;
}

table {
    border-spacing: 1rem;
    border-collapse: separate;
}

.foodInsertGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.foodInsertTitleGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.inputRadioBtnDiv{
    display: flex;
}

.inputRadioBtnDiv input {
    margin-right: 1rem;
}


/* 라디오 버튼 */
.form_radio_btn {
    width: 45px;
    height : 45px;
    margin-right: 1rem;
}
.form_radio_btn input[type=radio] {
    display: none;
}
.form_radio_btn label {
    display: block;
    border-radius: 50%;
    margin: 0 auto;
    text-align: center;
    height: -webkit-fill-available;
    line-height: 45px;
}

/* Checked */
.form_radio_btn input[type=radio]:checked + label {
    background: #538E04;
    color: #fff;
}

/* Disabled */
.form_radio_btn input[type=radio] + label {
    background: #C4C4C4;
    color: #fff;
}


@media (max-width: 800px) {
    .boardCon {
        padding: 0;
        display: block;
    }

    .dis-left, .dis-right, .boardNavDiv {
        display: none;
    }

    .boardConDiv {
        max-width: 800px;
    }

    .mNav {
        display: block;
    }
}