/* v002 add css */
* {
    margin: 0 auto;
    font-size:16px;
}

.fav_title{
    display: inline;
}

@media screen and (max-width:500px){
    * {
        font-size: 13px;
    }
    .favbox{
        margin-top: 65px;
        font-size: 16px;
        background-color: #FFFFF0;
        box-shadow: 0px 12px 30px #ECECEC;
        padding: 3rem;
        width: 100%;
    }
    .favdietname{
        text-decoration-style: none;
        font-size: 20px;
        font-weight: 600;
        font-size: 14px;
    }
    .dietname{
        background-color: white;
        overflow:auto;
        height: 150px;
        font-size: x-large;
        border-radius: 10px;
        padding: 15px;
        box-shadow: 0px 1px 30px 0px rgba(217, 217, 217, 0.50);
    }
    .favmaintitle{
        position:relative;
        bottom:2em;
        text-align: right;
    }
    .nutdiv{
        font-size: 12px;
    }
    .nutdiv span{
        display: block;
    }
    .fav_title{
        padding: 0px;
    }
}
@media screen and (min-width: 501px) and (max-width:1100px) {
    .favbox{
        margin-top: 100px;
        font-size: 16px;
        background-color: #FFFFF0;
        box-shadow: 0px 12px 30px #ECECEC;
        padding: 2rem;
        width: 90vw;
    }
    .dietname{
        background-color: white;
        overflow:auto;
        height: 150px;
        font-size: x-large;
        border-radius: 10px;
        padding: 15px;
        box-shadow: 0px 1px 30px 0px rgba(217, 217, 217, 0.50);
    }
    .favmaintitle{
        position:relative;
        bottom:2.5em;
        text-align: right;
    }
    .nutdiv span{
        display: inline;
    }
    .favdietname{
        text-decoration-style: none;
        font-size: 20px;
        font-weight: 600;
    }
}
@media screen and (min-width: 1100px){
    .favbox{
        margin-top: 100px;
        font-size: 16px;
        background-color: #FFFFF0;
        box-shadow: 0px 12px 30px #ECECEC;
        padding: 4rem;
        width: 1050px;
    }
    .dietname{
        background-color: white;
        overflow:auto;
        height: 150px;
        font-size: x-large;
        border-radius: 10px;
        padding: 15px;
        box-shadow: 0px 1px 30px 0px rgba(217, 217, 217, 0.50);
    }
    .favmaintitle{
        position:relative;
        bottom:2.5em;
        text-align: right;
    }
    .nutdiv span{
        display: inline;
    }
    .favdietname{
        text-decoration-style: none;
        font-size: 20px;
        font-weight: 600;
    }
}
.dietname::-webkit-scrollbar{
    width:9px;
    background-color: transparent;
}
.dietname::-webkit-scrollbar-thumb{
    background-color: #538E04;
    border-radius: 8px;
}
.dietname::-webkit-scrollbar-track{
    background-color: transparent;
}
.nutdiv{
    margin-left:1rem;
}
.favfoodname{
    color:#538E04;
    font-weight: 700;
    font-size: 16px;
}


/* v001 delete css
.fav-dietlist{
    padding-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1200px 1fr;
}

.favbox {
    background: #FFFFF0;
    box-shadow: 0px 12px 30px #ECECEC;
    display: block;
    justify-content: center;
    padding: 30px;
    margin-bottom: 30px;
    margin: 0 auto;
}
.box1{
    border-radius: 10px;
    background-color: transparent;
    padding: 20px;
    width: 70vw;
}
.dietname{
    background-color: white;
    overflow:auto;
    width: 66vw;
    height: 17vh;
    margin: 0 auto;
    font-size: x-large;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0px 1px 30px 0px rgba(217, 217, 217, 0.50);
} */

a{
    text-decoration: none;
    color: #195F1C;
}

.del-button{
    width: 3vw;
}

.foodnutri{
    width: auto;
    height: auto;
    margin: 0 auto;
    font-size: large;
    margin-top: 20px;
    background-color: #FFFFF0;
    border-radius: 10px;
    /* v001 delete css : padding: 15px; */
}
/* v001 delete css
span{
    margin-left: 10px;
    word-spacing: 5px;
    font-size: 16px;
} 
*/

.submitbtn{
    text-align: end;
    margin-top: 20px;
}

input{
    width: 7vw;
    border: none;
    border-bottom: 1px solid #195F1C;
    background-color: transparent;
    outline: none;
    /* v001 delete css : font-size: 16px; */
}
h1{
    font-size: xx-large;
}

button {
    background-color: #c1c1c1;
    border: none;
    transition: all 0.2s cubic-bezier(.4,0,.2,1);
    color: white;
    height: 2.2rem;
    width: 6rem;
    padding: 1.5em auto;
    border-radius: 3px;
}
#greenBtn:disabled{
    background-color: #e2f5e0;
}
button:hover {
    background-color: #9D9D9D;
}
#greenBtn {
    background-color: #538E04;
}
#greenBtn:hover {
    background-color: #195F1C;
}
.bi-asterisk {
    font-size: 3px;
    color: #EE6666;
}

label{
    padding-left: 10px;
}
input#intake{
    text-align: center;
}

.del-food{
    cursor: pointer;
    position: relative;
    color:#195F1C;
    width:50px;
}
.del-food:hover .arrow_box{
    color: #ee6666;
    display:inline-block;
    position: absolute;
    left: 1.5rem;
}

.del-diet{
    cursor: pointer;
    position: relative;
}
.del-diet:hover .arrow_box-diet{
    color: #ee6666;
    display:inline-block;
}

.arrow_box{
    width: 28vw;
    display: none;
}

h2 {
    /* v001 delete css : margin-left: 20px; */
    font-weight: 900;
}

/* v001 delete css
th{
    width: 10vw;
    vertical-align: top;
} 
*/

.del-diet{
    margin-right: 5px;
    background-color: #538E04;
    color: #fffff0;
    width: 10vw;
    height: 5vh;
    border-radius: 5px;
}