.findemail {
    display: flex;
    width: 100vw;
}

.findpsw {
    display: none;
}
.intro_login{
    width: 50vw;
    border-radius: 3px;
    box-shadow: 2px 2px 8px 2px #999;
    font-size: 50px;
    font-weight: bolder;
}
.finduserpage{
    width: 50vw;
}


p.first-line{
    color: #195F1C;
    margin: 0px;
}

.p-tag{

}


