body{
    margin: 0;
    padding: 0;
}

/* 추가 */
section{
    /* position: sticky; */
    background-color: #ffffff;
    /* box-shadow: 0 0.275rem 0.75rem -0.0625rem rgba(11,15,25,.06), 0 0.125rem 0.4rem -0.0625rem rgba(11,15,25,.03); */
}

.navbar-dropdown button {
    color: black;
    background-color: transparent;
    height: 0px;
}

.navbar-dropdown form {
    display: inline;
}

.nav-top {
    height: 4vh;
}

.alramImg, #logoutBtn img {
    width: 35px;
    height: 35px;
}

.alramImg:hover, #logoutBtn img:hover {
    transform: scale(1.1, 1.1);
    transition: transform.1s;
}

.navigation {
    height: 70px;
}

.brand {
    position: absolute;
    /* padding-left: 20px; */
    float: left;
    line-height: 70px;
    text-transform: uppercase;
    font-size: 1.4em;
}
.brand img{
    width: 40%;
    height: 40%;
}

.brand a, .brand a:visited {
    color: #000000;
    text-decoration: none;
    font-weight: 900;
}

.nav-container {
    max-width: 1000px;
    margin: 0 auto;
}

nav {
    float: right;
    padding-right: 70px;
    font-size: 1rem;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    float: left;
    position: relative;
}

nav ul li a  {
    display: block;
    padding: 0 20px;
    line-height: 70px;
    color: #000000;
    background: #FFFFF0 ;
    text-decoration: none;
    font-weight: 600;
}

#cursorPointer {
    cursor: pointer;
}

nav ul li a:visited {
    color: #000000;
}

nav ul li a{
    background: transparent;
    color: #000000;
}

.navbar-dropdown li a{
    background: #FFFFF0;
    font-weight: 500;
}

nav ul li a:not(:only-child):after, nav ul li a:visited:not(:only-child):after {
    padding-left: 4px;
    content: ' \025BE';
}

nav ul li:nth-child(5) a:not(:only-child):after, nav ul li:nth-child(5) a:visited:not(:only-child):after {
    padding-left: 0px;
    content: '';
}

nav ul li ul li {
    min-width: 190px;
}

nav ul li ul li a {
    padding: 15px;
    line-height: 20px;
}

.navbar-dropdown {
    position: absolute;
    display: none;
    z-index: 1;
    background: #fff;
    box-shadow: 0px 2px 7px rgba(89, 89, 89, 0.1);
}

/* Mobile navigation */
.nav-mobile {
    display: none;
    position: absolute;
    top: 5px;
    right: 0;
    background: transparent;
    height: 55px;
    width: 70px;
}

@media only screen and (max-width: 888px) {
    .nav-top {
        height: 0;
    }

    .nav-mobile {
        display: block;
    }

    nav {
        width: 100%;
        padding: 55px 0 15px;
    }

    nav ul {
        display: none;
    }

    nav ul li {
        float: none;
    }

    nav ul li a {
        padding: 15px 15px 15px 30px;
        line-height: 20px;
        background: #FFFFF0;
        color: #000000;
    }

    nav ul li ul li a {
        padding-left: 40px;
    }

    .navbar-dropdown {
        position: static;
    }

    nav > ul {
        padding-top: 10px;
    }

    .navigation {
        height: 70px;
    }

    .brand {
        line-height: 70px;
    }
}

@media screen and (min-width:888px) {
    .nav-list {
        display: block !important;
    }
}

#navbar-toggle {
    position: absolute;
    left: 18px;
    top: 15px;
    cursor: pointer;
    padding: 10px 35px 16px 0px;
}

#navbar-toggle span, #navbar-toggle span:before, #navbar-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 3px;
    width: 30px;
    background: #000000;
    position: absolute;
    display: block;
    content: '';
    /* transition: all 0.6s; */
}

#navbar-toggle span:before {
    top: -10px;
}

#navbar-toggle span:after {
    bottom: -10px;
}

#navbar-toggle.active span {
    background-color: transparent;
}

#navbar-toggle.active span:before, #navbar-toggle.active span:after {
    top: 0;
}

#navbar-toggle.active span:before {
    transform: rotate(45deg);
}

#navbar-toggle.active span:after {
    transform: rotate(-45deg);
}