/* 전체 */
#wrap{
    width: 95vw;
    margin: 0 auto;
}
#wrap > h1{
    text-align: center;
}
.bc-green{
    color: #195F1C;
}

/* 날짜 변경 박스 */
#dateArea{
    display: flex;
    width: 100%;
    height: 35px;
    margin-top: 20px;
    background-color: #FFFFF0;
}
#dateArea > div:nth-child(2n+1){
    margin-top: 5px;
}
#dateArea > .dateBox{
    width: calc(95vw - 60px);
    font-weight: 700;
    text-align: center;
}
div.dateBox button{
    border: none;
    border-radius: 5px;
    background-color: #538E04;
    width: 50px;
    color: #ffffff;
}
div.dateBox button:hover{
    background-color: #195F1C;
}
input[type="date"]:hover{
    color: #195F1C;
}
/* input[type="date"]{
    position: relative;
    width: 125px;
    height: 35px;
    padding-right: 20px;
    outline: none;
    border: none;
    background: url(https://cdn-icons-png.flaticon.com/512/1250/1250599.png?w=740&t=st=1686849013~exp=1686849613~hmac=d3b8bc2ffdd6cd48ec807b3668640b6dc522bb2a4aa6b55c0df21122441f5bbb) no-repeat right 8px center / 10px auto;
    background-size: 20px;
    font-weight: 700;
} */
input[type="date"]{
    position: relative;
    width: 25px;
    height: 35px;
    padding-right: 34px;
    outline: none;
    border: none;
    background: url(https://cdn-icons-png.flaticon.com/512/1250/1250599.png?w=740&t=st=1686849013~exp=1686849613~hmac=d3b8bc2ffdd6cd48ec807b3668640b6dc522bb2a4aa6b55c0df21122441f5bbb) no-repeat right 8px center / 10px auto;
    background-size: 20px;
    font-weight: 700;
}
input[type="date"]::-webkit-clear-button,
input[type="date"]::-webkit-inner-spin-button {display: none;}
input[type="date"]::-webkit-calendar-picker-indicator{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    color: transparent;
    cursor: pointer;
}
input[type="date"]::before{
    content: attr(data-placeholder);
    width: 100%;
}
input[type="date"]:valid::before {
    display: none;
}
/* input[data-placehoder]::before{
    color: red;
} */


/* 마이 칼로리 */
#myDiet{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
}
#myDiet > div.box1{
    display: flex;
    height: 300px;
}

#myDiet > div.box2{
    height: 300px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

div.sub1{
    width: 50%;
    min-width: 365px;
    height: 300px;
    background-color: yellow;
}
div.sub2{
    width: 50%;
    height: 300px;
}
div.sub3{
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
div.sub4{
    border-right: 1px solid #ccc;
}

/* 식단 아침~간식 */
div.foodBox{
    width: 100%;
    min-height: 300px;
    /* background-color: #FFFFF0; */
};

div.img{
    width: 200px;
    height: 100px;
    background-color: pink;
}

/* canvas{
    position: static !important;
    width: auto;
} */

