/* 
{{-- https://codepen.io/rafaelavlucas/pen/zyVXYV --}}
{{-- https://nanati.me/css-animation-library/ --}}
{{-- https://animate.style/ --}}
*/

/* 전체 */
#wrap{
    width: 95vw;
    margin: 0 auto;
}
#wrap > h1{
    text-align: center;
}
.fc-green{
    color: #195F1C;
}
.fc-pink{
    color: #EE6666;
}
.fc-yel{
    color: #FFD029;
}
.fc-blue{
    color: #6799E4;
}
.fc-red{
    color: red;
}
.fc-blue2{
    color: blue;
}
.fsBig{
    font-size: 2rem;
}
/* 날짜 변경 박스 */
#dateArea{
    display: flex;
    width: 100%;
    height: 35px;
    margin-top: 20px;
    background-color: #FFFFF0;
}
#dateArea > div:nth-child(2n+1){
    margin-top: 5px;
}
#dateArea > .dateBox{
    width: calc(95vw - 60px);
    font-weight: 700;
    text-align: center;
}
div.dateBox button{
    border: none;
    border-radius: 5px;
    background-color: #538E04;
    width: 50px;
    color: #ffffff;
}
div.dateBox button:hover{
    background-color: #195F1C;
}
input[type="date"]:hover{
    color: #195F1C;
}
input[type="date"]{
    position: relative;
    width: 125px;
    height: 35px;
    padding-right: 20px;
    outline: none;
    border: none;
    background: url(https://cdn-icons-png.flaticon.com/512/1250/1250599.png?w=740&t=st=1686849013~exp=1686849613~hmac=d3b8bc2ffdd6cd48ec807b3668640b6dc522bb2a4aa6b55c0df21122441f5bbb) no-repeat right 8px center / 10px auto;
    background-size: 20px;
    font-weight: 700;
}
input[type="date"]::-webkit-clear-button,
input[type="date"]::-webkit-inner-spin-button {display: none;}
input[type="date"]::-webkit-calendar-picker-indicator{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    color: transparent;
    cursor: pointer;
}
input[type="date"]::before{
    content: attr(data-placeholder);
    width: 100%;
}
input[type="date"]:valid::before {
    display: none;
}
/* input[data-placehoder]::before{
    color: red;
} */


/* 마이 칼로리 */
/* #myDiet{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    margin-bottom: 40px;
}
#myDiet > div.diet1{
    display: flex;
    height: 300px;
}

#myDiet > div.diet2{
    height: 300px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

div.box1{
    width: 50%;
    min-width: 365px;
    height: 300px;
    text-align: center;
    background: pink;
}

div.box2{
    width: 50%;
    height: 300px;
    background: burlywood;
}
div.box2 > div.percent{
    margin: 100px 0 0 10px;
    line-height: 40px;
}

div.box3{
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    background: skyblue;

}
div.box4{
    background: palegreen;
} */
#myDiet{
    width: 95vw;
    margin: 0 auto 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(490px, 1fr));
}
div.diet1{
    display: flex;
}
div.box1{
    width: 70%;
}
div.box2{
    width: 30%;
}
/* div.todayKcal{
    border-radius: 10px;
    background: #fffff0;
    box-shadow: 0 0.275rem 0.75rem -0.0625rem rgba(11,15,25,.06), 0 0.125rem 0.4rem -0.0625rem rgba(11,15,25,.03);;
} */
div.box4{
    border-radius: 10px;
    background: #fffff0;
    box-shadow: 0 0.275rem 0.75rem -0.0625rem rgba(11,15,25,.06), 0 0.125rem 0.4rem -0.0625rem rgba(11,15,25,.03);
}

#carbPro, #proteinPro, #fatPro{
    appearance: none;
}
#carbPro::-webkit-progress-bar,#proteinPro::-webkit-progress-bar,#fatPro::-webkit-progress-bar{
    background: #f0f0f0;
    border-radius: 10px;
    box-shadow: inset 3px 3px 10px #ccc;
}
#proteinPro::-webkit-progress-value{
    border-radius: 10px;
    background: #FFD029;
}
#carbPro::-webkit-progress-value{
    border-radius: 10px;
    background: #EE6666;
};
#carbPro::-webkit-progress-value{
    border-radius: 10px;
    background: #EE6666;
};
#fatPro::-webkit-progress-value{
    border-radius: 10px;
    background: #6799E4;
}
#fatPro::-webkit-progress-value{
    border-radius: 10px;
    background: #6799E4;
}


/* 식단 아침~간식 */
/* 아코디언 버튼 영역 */
div.dietArea{
    width: 95vw;
}
div.flgBox{
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #FFFFFF;
    border: 1px solid #195F1C;
    border-bottom: none;
}
div.diet{
    width: 100%;
    background: #FFFFF0;
    border-right: 1px solid #195F1C;
    border-left: 1px solid #195F1C;
}
div.food{
    min-height: 50px;
    line-height: 50px;
    background: #fffff0;
}

div.flgBox > button{
    height: 20px;
    border: none;
    background: none;
    float: right;
    margin-right: 20px;
}
div.flgBox > button::after{
    display: block;
    content: '';
    clear: both;
}

/* 아코디언 본문 */
div.dietDetail{
    width: 95vw;
}
div.dietDetail div.card{
    width: 95vw;
    border: 1px solid #195F1C;
    background: #fffff0;
    border-top: none;
}

.table{
    background: white;
    --bs-table-striped-color: #538E04;
    --bs-table-active-color: #538E04;
}

tbody, td, tfoot, th, thead, tr{
    border-color: #538E04 !important;
}
th{
    min-width: 100px !important;
}

.img-fluid{
    width: 500px !important;
    height: 300px !important;
}
.imgBox{
    font-size: 1.2rem;
    width: 100%;
    min-height: 200px;
    line-height: 200px;
    text-align: center;
    background: rgba(255,255,255,0.6);
}

.filebox .upload-name {
    display: inline-block;
    height: 40px;
    padding: 0 10px;
    vertical-align: middle;
    border: 1px solid #dddddd;
    width: 65%;
    color: #999999;
    outline: none;
}

.filebox label {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    vertical-align: middle;
    background-color: #999999;
    cursor: pointer;
    height: 40px;
    margin-left: 10px;
}

.filebox input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}
/* button.delBtn{
    position: relative;
}
div.delAlert{
    width: 200px;
    padding: 10px 15px;
    background-color: #444444;
    border-radius: 5px;
    color: #ffffff;
    display: none;
    position: absolute;
}
button.delBtn:hover + div.delAlert {
    display: block;
} */
/* .upbtn, .upbtn2, .upbtn3, .upbtn4{
    display: none;
} */