.page-body{
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(490px, 1fr));
    height: 100vh;
}

/* @media ( min-width : 768px) {
    .intro_login{
        width: 0%;
    }
}

@media ( min-width : 992px) {
    .intro_login{
        width: 30%;
    }
}
@media ( min-width : 1200px) {
    .intro_login{
        width: 40%;
    }
} */


.intro_login{
    /* position: relative;
    top:145px;
    left: 191px; */
    height: 100vh;
    border-radius: 3px;
    box-shadow: 2px 2px 8px 2px #999;
    font-size: 50px;
    font-weight: bolder;
    background-image: url(../img/login.png);
    background-repeat: no-repeat;
    background-position: -212px 409px;
}
.loginpage{
    background-color: rgba(255, 255, 240, 1);
    height: 100vh;
    /* position: relative; */
    /* position: absolute;
    top: 15%;
    left: 690px; */
    /* height: 100vh; */
    border-radius: 3px;
    box-shadow:  2px 2px 15px 2px #999;
}

/* .img1{
    position: absolute;
    top: 250px;
    left: 20px;
    overflow: hidden;
    opacity: 0.5;
    width: 500px;
    height: 480px;
    
} */

/* 박스 2중으로 margin auto로   */


.write{
    width: 390px;
    margin: 0 auto;

}

.email_write{
    border-bottom: 3px solid rgba(25, 95, 28, 1);
    width: 390px;
    /* padding-bottom: 10px;
    margin-bottom: 20px; */
}

.password_write{
    border-bottom: 3px solid rgba(25, 95, 28, 1);
    width: 390px;
    /* padding-bottom: 10px;
    margin-bottom: 20px; */
}

input{
    width: 250px;
    height: 40px;
    border: none;
    background-color: rgba(255, 255, 240, 1);
}

/* .login_button{
    position: absolute;
    top: 355px;
    left: 105px;
    margin: 10px;
    padding: 15px;
    width: 255px;
    height: 40px;
    background-color:#195F1C;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
} */
/* .linkbutton{
    margin: auto;
} */
.login_button {
    width: 300px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.5s ease;
    /* position: absolute;
    top: 24vh;
    left: 3vw; */
    display: inline-block;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    z-index: 2;
}

.btn-stlye {
    border: none;
    background:#195F1C;
    background: linear-gradient(0deg,#195F1C 0%, #257a2a 100%);
    color: #fff;
    overflow: hidden;
}

.btn-stlye:hover {
    text-decoration: none;
    color: #ffffff;
}

/* .btn-stlye:before {
    position: absolute;
    content: '';
    display: inline-block;
    top: -180px;
    left: 0;
    width: 30px;
    height: 100%;
    background-color: #fff;
    animation: shiny-btn1 3s ease-in-out infinite;
} */

.btn-stlye:hover{
    opacity: 0.7;
}

.btn-stlye:active{
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
                -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}


/* @-webkit-keyframes shiny-btn1 {
    0% { -webkit-transform: scale(0) rotate(45deg); opacity: 0; }
    80% { -webkit-transform: scale(0) rotate(45deg); opacity: 0.5; }
    81% { -webkit-transform: scale(4) rotate(45deg); opacity: 1; }
    100% { -webkit-transform: scale(50) rotate(45deg); opacity: 0; }
}
 */


.registlink{
    text-align: center;
    width: 250px;
    height: 30px;
    margin: 26px;
}

a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: #195F1C;
    font-size: large;
}

a:active{
    color: rgb(64, 231, 41);
}

h1{
    /* position: absolute;
    left: 20px; */
}
.p-tag{
    /* position: absolute;
    top: 83px; */
}

p{
    color: #7c7c7c;

}

p.first-line{
    color: #195F1C;
    margin: 0px;
}

