h2{
    display: inline-block;
    padding-left: 30px;
    margin: 0;
}
.contents{
    padding: 50px;
    background: #fffff0;
    box-shadow: 0 0.275rem 0.75rem -0.0625rem rgba(11,15,25,.06), 0 0.125rem 0.4rem -0.0625rem rgba(11,15,25,.03);
    width: 1140px;
    font-size: 16px;
}
.sub1{
    min-width: 200px;
    min-height: 200px;
    margin: 0px auto;
    background: #ffffff;
    border-radius: 1px;
    box-shadow: 0 0.275rem 0.75rem -0.0625rem rgba(11,15,25,.06), 0 0.125rem 0.4rem -0.0625rem rgba(11,15,25,.03);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 15%;
}

.sub1 > div:not(:last-child) {
    padding-bottom: 20px;
}

.sub1 div span:nth-child(1) {
    display: inline-block;
    width: 70px;
}

.sub2{
    min-width: 100px;
    min-height: 200px;
    margin: 0px auto;
    background: #ffffff;
    border-radius: 1px;
    box-shadow: 0 0.275rem 0.75rem -0.0625rem rgba(11,15,25,.06), 0 0.125rem 0.4rem -0.0625rem rgba(11,15,25,.03);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10%;
}

.sub2 > div:first-child {
    padding-bottom: 10px;
}

.sub2 > div:nth-child(3) {
    padding-top: 10px;
    display: flex;
    justify-content: space-between
}

.sub2 > div:nth-child(4) {
    padding-top: 10px;
    text-align: right;
}

.col-sm-7{
    min-height: 200px;
    padding: 15px 30px 15px 15px;
}
.col-sm-5{
    min-height: 200px;
    padding: 15px 15px 15px 30px;
}
.quest{
    min-height: 200px;
    padding: 15px 30px 30px 30px;
}
.sub3{
    background: #ffffff;
    min-height: 300px;
    border-radius: 1px;
    box-shadow: 0 0.275rem 0.75rem -0.0625rem rgba(11,15,25,.06), 0 0.125rem 0.4rem -0.0625rem rgba(11,15,25,.03);
    padding: 5%;
    text-align: center;
}

/* 버튼 */
button {
    background-color: #c1c1c1;
    border: none;
    transition: all 0.2s cubic-bezier(.4,0,.2,1);
    color: white;
    height: 2.2rem;
    width: 6rem;
    padding: 1.5em auto;
    border-radius: 3px;
}

button:hover {
    background-color: #9D9D9D;
}

#greenBtn:hover {
    background-color: #195F1C;
}

#greenBtn {
    background-color: #538E04;
}

.imgDiv img {
    max-width: 50px;
}

.imgDiv button {
    background: none;
    border:none;
    box-shadow:none;
    border-radius:0;
    padding:0;
}

/* ! 지울 예정 */
.black { 
    -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
/* ! 지울 예정 */

#comBtn {
    -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

#comBtn:hover {
    -webkit-filter: grayscale(0);
	filter: grayscale(0);
}

#questSet {
    margin-top: 20px;
}


/* 프로그레스 */
.progress {
    height: 20px;
    background-color: #ebeef1;
    box-shadow: none;
    width: 100%;
}

.progress-bar {
    float: left;
    height: 100%;
    background-color: #6799E4;
}

.fail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    font-size: 3rem;
}

.fail button {
    font-size: 16px;
    margin-top: 10px;
}

h1 {
    font-weight: 900;
    margin-bottom: 50px;
    text-align: center;
}

.con {
    margin: 5%;
}


/** ----------------- 드롭다운 ------------------- */


/** ----------------- 카드 ------------------- */
article {
    --img-scale: 1.001;
    --title-color: black;
    --link-icon-translate: -20px;
    --link-icon-opacity: 0;
    position: relative;
    border-radius: 16px;
    box-shadow: none;
    background: #f1f1f1;
    transform-origin: center;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
}

/* basic article elements styling */
article h2 {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--title-color);
    padding: 0;
    transition: color 0.3s ease-out;
}

figure {
    margin: 0;
    padding: 0;
    aspect-ratio: 16 / 9;
    overflow: hidden;
}

article img {
    max-width: 100%;
    transform-origin: center;
    transform: scale(var(--img-scale));
    transition: transform 0.4s ease-in-out;
}

.article-body {
    padding: 24px;
    background-color: #f1f1f1;
}

/* using the has() relational pseudo selector to update our custom properties */
article:has(:hover, :focus) {
    --img-scale: 1.1;
    /* --title-color: #195F1C; */
    --link-icon-translate: 0;
    --link-icon-opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}


/************************ 
Generic layout (demo looks)
**************************/

  *,
  *::before,
  *::after {
    box-sizing: border-box;
}

.articles {
    display: grid;
    max-width: 1200px;
    margin-inline: auto;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 24px;
}

@media screen and (max-width: 960px) {
    /* article {
    container: card/inline-size;
    } */

    figure {
        display: none;
    }
}

/* @container card (min-width: 380px) {
    .article-wrapper {
        display: grid;
        grid-template-columns: 100px 1fr;
        gap: 16px;
    }
    figure {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    figure img {
        height: 100%;
        aspect-ratio: 1;
        object-fit: cover;
    }
} */

.sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
}