h2{
    display: inline-block;
    padding-left: 30px;
    margin: 0;
}
.contents{
    padding: 50px;
    background: #fffff0;
    box-shadow: 0 0.275rem 0.75rem -0.0625rem rgba(11,15,25,.06), 0 0.125rem 0.4rem -0.0625rem rgba(11,15,25,.03);
    width: 1140px;
    font-size: 16px;
}
.sub1{
    min-width: 200px;
    min-height: 200px;
    margin: 0px auto;
    background: #ffffff;
    border-radius: 1px;
    box-shadow: 0 0.275rem 0.75rem -0.0625rem rgba(11,15,25,.06), 0 0.125rem 0.4rem -0.0625rem rgba(11,15,25,.03);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 15%;
}

.sub1 > div:not(:last-child) {
    padding-bottom: 20px;
}

.sub1 div span:nth-child(1) {
    display: inline-block;
    width: 70px;
}

.sub2{
    min-width: 100px;
    min-height: 200px;
    margin: 0px auto;
    background: #ffffff;
    border-radius: 1px;
    box-shadow: 0 0.275rem 0.75rem -0.0625rem rgba(11,15,25,.06), 0 0.125rem 0.4rem -0.0625rem rgba(11,15,25,.03);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10%;
}

.sub2 > div:first-child {
    padding-bottom: 10px;
}

.sub2 > div:nth-child(3) {
    padding-top: 10px;
    display: flex;
    justify-content: space-between
}

.sub2 > div:nth-child(4) {
    padding-top: 10px;
    text-align: right;
}

.col-sm-7{
    min-height: 200px;
    padding: 15px 30px 15px 15px;
}
.col-sm-5{
    min-height: 200px;
    padding: 15px 15px 15px 30px;
}
.quest{
    min-height: 200px;
    padding: 15px 30px 30px 30px;
}
.sub3{
    background: #ffffff;
    min-height: 300px;
    border-radius: 1px;
    box-shadow: 0 0.275rem 0.75rem -0.0625rem rgba(11,15,25,.06), 0 0.125rem 0.4rem -0.0625rem rgba(11,15,25,.03);
    padding: 5%;
    text-align: center;
}

/* 버튼 */
button {
    background-color: #c1c1c1;
    border: none;
    transition: all 0.2s cubic-bezier(.4,0,.2,1);
    color: white;
    height: 2.2rem;
    width: 6rem;
    padding: 1.5em auto;
    border-radius: 3px;
}

button:hover {
    background-color: #9D9D9D;
}

#greenBtn:hover {
    background-color: #195F1C;
}

#greenBtn {
    background-color: #538E04;
}

.imgDiv img {
    max-width: 50px;
}

.imgDiv button {
    background: none;
    border:none;
    box-shadow:none;
    border-radius:0;
    padding:0;
}

/* ! 지울 예정 */
.black { 
    -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
/* ! 지울 예정 */

#comBtn {
    -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

#comBtn:hover {
    -webkit-filter: grayscale(0);
	filter: grayscale(0);
}

#questSet {
    margin-top: 20px;
}


/* 프로그레스 */
.progress {
    height: 20px;
    background-color: #ebeef1;
    box-shadow: none;
    width: 100%;
}

.progress-bar {
    float: left;
    height: 100%;
    background-color: #6799E4;
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 700px;
    transition: 0.25s;
}

.cards h1 {
    font-weight: 900;
    margin-bottom: 50px;
}

.cards .credit {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: inherit;
}
.cards .options {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    overflow: hidden;
    min-width: 600px;
    max-width: 900px;
    width: calc(100% - 100px);
    min-height: 400px;
}
@media screen and (max-width: 718px) {
    .cards .options {
        min-width: 520px;
}
    .cards .options .option:nth-child(5) {
        display: none;
    }
}
@media screen and (max-width: 638px) {
    .cards .options {
        min-width: 440px;
    }
    .cards .options .option:nth-child(4) {
        display: none;
    }
}
@media screen and (max-width: 558px) {
    .cards .options {
        min-width: 360px;
    }
    .cards .options .option:nth-child(3) {
        display: none;
    }
}
@media screen and (max-width: 478px) {
    .cards .options {
        min-width: 280px;
    }
    .cards .options .option:nth-child(2) {
        display: none;
    }
}
.cards .options .option {
    position: relative;
    overflow: hidden;
    min-width: 60px;
    margin: 10px;
    background: var(--optionBackground, var(--defaultBackground, #E6E9ED));
    background-size: auto 120%;
    background-position: center;
    cursor: pointer;
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}
.cards .options .option:nth-child(1) {
    --defaultBackground:#5D9CEC;
}
.cards .options .option:nth-child(2) {
    --defaultBackground:#ED5565;
}
.cards .options .option:nth-child(3) {
    --defaultBackground:#f0bb35;
}
.cards .options .option:nth-child(4) {
    --defaultBackground:#FC6E51;
}
.cards .options .option:nth-child(5) {
    --defaultBackground:#2ECC71;
}
.cards .options .option:nth-child(6) {
    --defaultBackground:#AC92EC;
}
.cards .options .option.active {
    flex-grow: 10000;
    transform: scale(1);
    max-width: 600px;
    margin: 0px;
    border-radius: 40px;
    background-size: auto 100%;
    /*&:active {
    transform:scale(0.9);
    }*/
}
.cards .options .option.active .shadow {
    box-shadow: inset 0 -120px 120px -120px black, inset 0 -120px 120px -100px black;
}
.cards .options .option.active .label {
    bottom: 30px;
    left: 30px;
}
.cards .options .option.active .label .info > div {
    left: 0px;
    opacity: 1;
}
.cards .options .option:not(.active) {
    flex-grow: 1;
    border-radius: 30px;
}
.cards .options .option:not(.active) .shadow {
    bottom: -40px;
    box-shadow: inset 0 -120px 0px -120px black, inset 0 -120px 0px -100px black;
}
.cards .options .option:not(.active) .label {
    bottom: 10px;
    left: 10px;
}
.cards .options .option:not(.active) .label .info > div {
    left: 20px;
    opacity: 0;
}
.cards .options .option .shadow {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 120px;
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}
.cards .options .option .label {
    display: flex;
    position: absolute;
    right: 0px;
    height: 40px;
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}
.cards .options .option .label .icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    max-width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: white;
    color: var(--defaultBackground);
}
.cards .options .option .label .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
    color: white;
    white-space: pre;
}
.cards .options .option .label .info > div {
    position: relative;
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95), opacity 0.5s ease-out;
}
.cards .options .option .label .info .main {
    font-weight: bold;
    font-size: 1.2rem;
}
.cards .options .option .label .info .sub {
    transition-delay: 0.1s;
}
.cards .options .option .label .button {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 100px;
    max-width: 100px;
    height: 40px;
    margin-left: 20px;
}
.cards .options .option .label .button button{
    background-color: white;
    border: none;
    transition: all 0.2s cubic-bezier(.4,0,.2,1);
    color: var(--defaultBackground);
    font-weight: 600;
    height: 2.2rem;
    width: 6rem;
    padding: 1.5em auto;
    border-radius: 3px;
}

.cards .options .option .label .button button:hover {
    background-color: #f0f0f0;
}
