* {
    margin: 0 auto;
    padding: 0px;
}
body {
    font-size:16px;
}
@media screen and (max-width:500px){
    .inputRadioDiv input[type=radio]+label{
        width:55px;
        font-size:13px;
    }
    .recomFoodTitle{
        font-size: 18px;
    }
    .nutcontent{
        display: block;
    }
    .RecommentDiv{
        margin-top: 65px;
        font-size: 16px;
        background-color: #FFFFF0;
        box-shadow: 0px 12px 30px #ECECEC;
        padding:2rem;
    }
}
@media screen and (min-width: 501px) and (max-width:1100px) {
    .RecommentDiv {
        width: 90vw;
    }
    .contentDiv {
        width: 80vw;
    }
    .inputRadioDiv input[type=radio]+label{
        width:100px;
        padding:0.5rem;
        font-size:16px;
    }
    .nutcontent{
        margin:0.3em;
        display: inline;
    }
    .RecommentDiv{
        margin-top: 100px;
        font-size: 16px;
        background-color: #FFFFF0;
        box-shadow: 0px 12px 30px #ECECEC;
        padding:2rem;
    }
}
@media screen and (min-width: 1100px){
    .RecommentDiv {
        width: 1050px;
    }
    .contentDiv {
        width: 960px;
    }
    .inputRadioDiv input[type=radio]+label{
        width:100px;
        padding:0.3rem;
        font-size:16px;
    }
    .nutcontent{
        margin:0.5em;
        display: inline;
    }
    .RecommentDiv{
        margin-top: 100px;
        font-size: 16px;
        background-color: #FFFFF0;
        box-shadow: 0px 12px 30px #ECECEC;
        padding:2rem;
    }
}

.recomTitle{
    font-weight: 600;
    margin-left:1rem;
}

/* radio */
.inputRadioDiv{
    padding: 15px 10px;
}
.inputRadioDiv input[type=radio]{
    display: none;
}
.inputRadioDiv input[type=radio]+label{
    display: inline-block;
    cursor: pointer;
    border: 1px solid #d4d4d4;
    border-radius: 5px;
    line-height: 24px;
    text-align: center;
    font-weight:bold;
}
.inputRadioDiv input[type=radio]+label{
    background-color: #fff;
    color: #333;
}
.inputRadioDiv input[type=radio]:checked+label{
    background-color: #538e04;
    color: #fff;
}

.dietCateDiv{
    padding: 1rem;
}

.recomFoodDiv{
    padding:0.5rem;
}
.contentDiv{
    padding:0.5rem;
    background-color: #fff;
    box-shadow: 0px 1px 30px 0px rgba(217, 217, 217, 0.50);
}
.recomcontent{
    margin:1rem;
}

h2{
    font-weight: 500;
}
.recomFoodTitle{
    display: inline-block;
    font-weight: 500;
}

.recomF {
    border: none;
    outline: none;
}

/* 영양성분 */
.nut{ 
    font-size: small;
    color:#9D9D9D;
    border: none;
    outline: none;
    width:1.5rem;
}

/* 버튼 */
button {
    background-color: #c1c1c1;
    color:#fff;
    border: none;
    transition: all 0.2s cubic-bezier(.4,0,.2,1);
    height: 2.2rem;
    width: 6rem;
    padding: 1.5em auto;
    border-radius: 3px;
}
button:hover {
    background-color: #9D9D9D;
}
.greenBtn {
    background-color: #538E04;
    display: inline-block;
}
.greenBtn:hover {
    background-color: #195F1C;
}

/* 식단 추천 페이지 버튼 div */
.btnDiv{
    position: relative;
    text-align: right;
}
.reload { /* 식단 새로 추천용 버튼 */
    background: transparent;
    color:#000;
    border:none;
    width:1.5rem;
    height:1.5rem;
    margin-left:0.5rem;
}
.reload:hover {
    background-color: transparent;
}