* {
    margin: 0 auto;
}
@media screen and (max-width:500px){
    .RecommentDiv {
        width: 420px;
    }
    .contentDiv {
        width: 325px;
    }
}
@media screen and (min-width: 501px) and (max-width:1100px) {
    .RecommentDiv {
        width: 90vw;
    }
    .contentDiv {
        width: 80vw;
    }
}
@media screen and (min-width: 1100px){
    .RecommentDiv {
        width: 1050px;
    }
    .contentDiv {
        width: 960px;
    }
}
.RecommentDiv{
    margin-top: 100px;
    font-size: 16px;
    background-color: #FFFFF0;
    padding:2rem;
}

.recomTitle{
    font-weight: 600;
    margin-left:1rem;
}
.inputRadioDiv{

}
.dietCateDiv{
    padding: 1rem;
}
/* .btnDiv{
    text-align: right;
} */

.contentDiv{
    background-color: #fff;
    /* padding: 0.5rem; */
}
h2{
    font-weight: 500;
}

.recomF {
    border: none;
    outline: none;
}
.nut{ /* 영양성분 표시 */
    font-size: small;
    color:#9D9D9D;
    border: none;
    outline: none;
    width:1.5rem;
}
button {
    background-color: #c1c1c1;
    color:#fff;
    border: none;
    transition: all 0.2s cubic-bezier(.4,0,.2,1);
    height: 2.2rem;
    width: 6rem;
    padding: 1.5em auto;
    border-radius: 3px;
}
button:hover {
    background-color: #9D9D9D;
}
.greenBtn {
    background-color: #538E04;
}

.greenBtn:hover {
    background-color: #195F1C;
}
