.regist-body{
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(490px, 1fr));
    height: 100vh;
}

@media ( min-width : 768px) {
    .intro_login{
        width: 0vw;
    }
}

@media ( min-width : 992px) {
    .intro_login{
        width: 40vw;
    }
}
@media ( min-width : 1200px) {
    .intro_login{
        width: 50vw;
    }
}
.margin{
    margin-top: 115px;
}
.intro_login > img{
    width: 150px;
    height: 50px;
}


.intro_login{
    height: 100vh;
    border-radius: 3px;
    box-shadow: 2px 2px 8px 2px #999;
    font-size: 50px;
    font-weight: bolder;
    background-image: url(../img/login.png);
    background-repeat: no-repeat;
    background-position: -212px 409px;
}


.registpage{
    background-color: rgba(255, 255, 240, 1);
    height: 100vh;
    border-radius: 3px;
    box-shadow:  2px 2px 15px 2px #999;
   

}

.registinfo{

    width: auto;
    margin: 0 auto;
    text-align: center;
    
}

.p-tag{

}

p{
    color: #7c7c7c;
}

p.first-line{
    color: #195F1C;

}


input{
    width: 300px;
    height: 40px;
    background-color: rgba(255, 255, 240, 1);
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid rgba(25, 95, 28, 1);
    outline: none;
}

label{
}

[type="radio"]{
    vertical-align: middle;
    appearance: none;
    border: max(2px, 0.1em) solid gray;
    border-radius: 50%;
    width: 1.25em;
    height: 1.25em;
    transition: border 0.3s ease-in-out;
}

[type="radio"]:checked{
    border: 0.4em solid  rgba(25, 95, 28, 1);
}

[type="radio"]:focus-visible{
    outline-offset: max(2px,00.1em);
    outline: max(2px, 00.1em) dotted rgb(12, 48, 14);
}

[type="radio"]:hover {
    box-shadow: 0 0 0 max(4px, 0.2em) rgb(202, 233, 206);
    cursor: pointer;
}
.write_name{
    width: 108px;
}

button{
    background-color: #c1c1c1;
    border: none;
    transition: all 0.2s cubic-bezier(.4,0,.2,1);
    color: white;
    height: 2.2rem;
    width: 6rem;
    padding: 1.5em auto;
    border-radius: 3px;
}

button:hover {
    background-color: #9D9D9D;
}
#greenBtn {
    background-color: #538E04;
}
.greenBtn{
    background-color: #538E04;
}
#greenBtn:hover {
    background-color: #195F1C;
}

@-webkit-keyframes shiny-btn1 {
    0% { -webkit-transform: scale(0) rotate(45deg); opacity: 0; }
    80% { -webkit-transform: scale(0) rotate(45deg); opacity: 0.5; }
    81% { -webkit-transform: scale(4) rotate(45deg); opacity: 1; }
    100% { -webkit-transform: scale(50) rotate(45deg); opacity: 0; }
}

a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: #195F1C;

}


h1{

}

.genman{
    padding-left: 5px;
    background-image: url(../img/manmark.png);
    width: 30px;
    height: 30px;
}
.genwoman{
    padding-left: 5px;
    background-image: url(../img/womanmark.png);
    width: 30px;
    height: 30px;
}


.gen{
    width: 45px;
    height: 35px;
}
#logo{
    width: 32%;
    height: 8%;
}

table{
    width: auto;
    margin: 0 auto;
    margin-top: 65px;
}

.exit{
    margin-top: 20px;
    text-align: center;
}