@media(max-width:500px){
    
}

.fav_diets, .user_select {
    display: none;
}
* {
    margin: 0 auto;
}

.searchform{
    margin-top: 5em;
    /* padding:1em; */
    text-align: center;
}
/* .searchform, .searchtab{
    width: 70vw;
    background-color: #FFFFF0;
    margin-bottom: 0px;
} */

.searchContainer {
    width: 910px;
    background-color: #FFFFF0;
    margin-top:0px;
    box-shadow: 0px 12px 30px #ECECEC;
}

.user_search, .fav_diets, .user_select {
    padding-left:4.5em;
    margin-top: 1em;
}

#userving, #resultdiet{
    border:0 solid black;
    border-bottom: 1px solid #000;
    outline: none;
    background-color: transparent;
}
.usercreate{
    color:#919191;
}

.div_hr{
    width:40vw;
}

hr {
    margin: 0;
    width:910px;
    text-align: center;
}

.searchip{
    border:0 solid black;
    border-bottom: 1px solid #000;
    outline: none;
    background-color: #FFFFF0;
    width:735px;
    height: 30px;
    padding-right: 1em;
    margin-top: 1.5em;
}
.searchbtn{
    border : none;
    border-radius: 20px;
    background:transparent;
}
.delete_btn{
    width:20px;
    height:20px;
    border: none;
    border-radius: 50px;
    background-color: #acacac;
}
/* tab 버튼 */
ul{
    overflow:hidden;
    list-style: none;
}
.tab1, .tab2, .tab3{
    float:left;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left:3em;
}
.tab1:hover, .tab1:active {
    background-color: rgba(223, 182, 182, 0.5);
    border-radius: 20px;
    width: 97px;
}
.tab2:hover, .tab2:active {
    background-color: rgba(212, 223, 182, 0.5);
    border-radius: 20px;
    width: 97px;
}
.tab3:hover, .tab3:active {
    background-color: rgba(165, 190, 228, 0.5);
    border-radius: 20px;
    width: 80px;
}

/* checkbox */
input[type="checkbox"]{
    -webkit-appearance: none; /* -webkit-appearance : 요소의 자체 구성요소 숨기기 / 사파리 & 크롬 적용 */
    position: relative;
    width: 16px;
    height: 16px;
    cursor: pointer;
    outline: none !important; /* !important : 나중에 적용하는 값이 적용되지 않도록 함 */
    border: 0.5px solid #acacac;
    border-radius: 2px;
    background: rgba(151, 182, 112, 0.5);
    margin-top:2px;
}
input[type="checkbox"]::before {
    content: "\2713"; /* 체크 표시(✓)의 CSS 번호 */
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden; /* 요소 밖으로 튀어나오는 컨텐츠를 숨김 */
    /* transform / scale : 요소를 확대 또는 축소 */
    transform: scale(0) translate(-50%, -50%); 
    /* translate : 상대적으로 위치 지정, 이동 및 재배치 */
    line-height: 1;
}

input[type="checkbox"]:hover {
    border-color: #acacac;
}

input[type="checkbox"]:checked {
    background-color: #538E04;
    border-color: rgba(255, 255, 255, 0.3);
    color: white;
}

input[type="checkbox"]:checked::before {
    border-radius: 2px;
    transform: scale(1) translate(-50%, -50%) 
    /* scale(1) : 해당 요소의 본래 치수를 유지하고 그 이상의 값 > 늘림 그 이하의 값 < 줄임*/
}

.nosearch{
    color:#919191;
    font-weight: 400;
    text-align: center;
    /* padding-top:23em; */
}

.diet_div{
    margin:0.5em;
    padding:0.5em;
    background-color: rgba(199, 223, 145, 0.5);
    border-radius: 10px;
    border: 0.5px solid #acacac;
}

.fav_food, .fav_diet{
    padding:0.5em;
}