* {
    margin: 0 auto;
}
/* 자주먹는 식단, 선택된 음식 탭 숨기기 및 내부 여백 */
.fav_diets, .user_select {
    display: none;
    padding: 1rem 6em;
    /* padding-top:0.5em;
    padding-bottom:0px; */
}
/* tab 버튼 */
.searchtab{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1rem 12rem;
    text-align: center;
    line-height: 40px;
}

#selectedFood {
    color: #538E04;
    font-weight: 600;
    font-size: 0.9rem;

}

.tab1:hover, .tab1:active {
    background-color: rgba(223, 182, 182, 0.5);
    border-radius: 10px;
    width: 80%;
    cursor: pointer;
}
.tab2:hover, .tab2:active {
    background-color: rgba(212, 223, 182, 0.5);
    width: 93%;
    border-radius: 10px;
    cursor: pointer;
}
.tab3:hover, .tab3:active {
    background-color: rgba(165, 190, 228, 0.5);
    border-radius: 10px;
    width: 80%;
    cursor: pointer;
}

/* 전체를 감싸는 div */
.searchContainer {
    width: 850px;
    /* min-height: 600px; */
    background: #FFFFF0;
    margin-top:0px;
    box-shadow: 0px 12px 30px #ECECEC;
    margin-top: 10vh;
    min-height: 20rem;
}
/* 검색 폼 div */
.searchdiv{
    position:relative;
    height:70px;
    width: 700px;
}
/* 검색 폼 */
.searchform{
    /* margin-top: 5em; */
    text-align: center;
}
/* 검색 폼 안에 있는 리셋 버튼(검색어 초기화) */
.resetbtn{
    border: none;
    width: 50px;
    height:50px;
    background: transparent;
    color:#000;
    position:absolute;
    right:130px;
    top:13px;
}
.resetbtn:hover {
    background: transparent;
}
/* 검색 결과와 함께 보이는 checkbox */
#usercheck{
    position: absolute;
    right: 3em;
}
/* 검색 결과 div */
.search_result{
    position: relative;
    margin:1em;
}
.searchip{ /* 검색 폼 input */
    border:0 solid black;
    border-bottom: 1px solid #000;
    outline: none;
    background-color: #FFFFF0;
    width: 550px;
    height: 30px;
    padding-right: 1em;
    margin-top: 1.5em;
}
.searchbtn{ /* 검색(돋보기)버튼 */
    border : none;
    border-radius: 20px;
    background:transparent;
}
/* 검색 시 사용자 등록 음식 표시 */
.usercreate{
    color:#919191;
}
/* 검색어 입력 안 했을 시 뜨는 span */
.nosearch{
    color:#919191;
    font-weight: 400;
    text-align: center;
    /* padding-top:23em; */
}

/* 자주먹는 식단 div */
#fav_food, .fav_food, #fav_diet, .fav_diet{
    /* padding:1.5em; */
    position:relative;
    margin:0;
    padding:1em;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
    min-height: 10vh;
    max-height: 20vh;
    background-color: #fff;
    box-shadow: 0px 2px 7px 0px rgba(89, 89, 89, 0.10);
}
/* 자주 먹는 식단명 */
.favname{
    padding-bottom:1.5em;
    font-weight: 400;
}
/* 자주먹는 식단 div, 음식 영양성분 */
.diet_div{
    margin:0.5em;
    padding:1rem;
    background-color: #fff;
    box-shadow: 0px 2px 7px 0px rgba(89, 89, 89, 0.10);
    /* border-radius: 10px;
    border: 0.5px solid #acacac; */
}
.dietinfo{
    padding-top:5px;
}

/* 인분 수 input */
#userving{
    border:0 solid black;
    border-bottom: 1px solid #000;
    outline: none;
    background-color: transparent;
}
/* 선택된 음식/식단 정보 삭제 버튼 */
#delete_btn{ 
    width:20px;
    height:20px;
    border: 1px solid #000;
    border-radius: 50px;
    background-color: transparent;
    color:#000;
    font-size: small;
}

/* hr */
.search_hr, .select_food, .select_diet{
    width:95%;
}
.div_hr{
    width:40vw;
}

/* 검색 결과 및 저장된 식단(즐겨찾기) 스크롤*/
.user_search, .fav_scroll{
    overflow:scroll;
    overflow-x: hidden; /* 가로 스크롤바 숨기기 */
    overflow-y: auto; /* 세로 스크롤바 활성화 */
    margin-top:2em;
    position:relative;
    padding-bottom: 2rem;
}

.user_search {
    height: 70vh;
    width:700px;
}

.user_search::-webkit-scrollbar, .fav_scroll::-webkit-scrollbar, #fav_food::-webkit-scrollbar, .fav_food::-webkit-scrollbar, #fav_food::-webkit-scrollbar, .fav_diet::-webkit-scrollbar {
    width:9px;
    background-color: transparent;
}
.user_search::-webkit-scrollbar-thumb, .fav_scroll::-webkit-scrollbar-thumb, #fav_food::-webkit-scrollbar-thumb, .fav_food::-webkit-scrollbar-thumb, #fav_diet::-webkit-scrollbar-thumb, .fav_diet::-webkit-scrollbar-thumb {
    background-color: #538E04;
    border-radius: 20px;
}
.user_search::-webkit-scrollbar-track, .fav_scroll::-webkit-scrollbar-track, #fav_food::-webkit-scrollbar-track, .fav_food::-webkit-scrollbar-track, #fav_diet::-webkit-scrollbar-track, .fav_diet::-webkit-scrollbar-track {
    background-color: transparent;
}

/* checkbox */
input[type="checkbox"]{
    -webkit-appearance: none; /* -webkit-appearance : 요소의 자체 구성요소 숨기기 / 사파리 & 크롬 적용 */
    position: relative;
    width: 20px;
    height: 20px;
    cursor: pointer;
    outline: none !important; /* !important : 나중에 적용하는 값이 적용되지 않도록 함 */
    border: 0.5px solid #acacac;
    border-radius: 2px;
    background: rgba(151, 182, 112, 0.5);
    margin-top:2px;
}
input[type="checkbox"]::before {
    content: "\2713"; /* 체크 표시(✓)의 CSS 번호 */
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden; /* 요소 밖으로 튀어나오는 컨텐츠를 숨김 */
    /* transform / scale : 요소를 확대 또는 축소 */
    transform: scale(0) translate(-50%, -50%); 
    /* translate : 상대적으로 위치 지정, 이동 및 재배치 */
    line-height: 1;
}
input[type="checkbox"]:hover {
    border-color: #acacac;
}
input[type="checkbox"]:checked {
    background-color: #538E04;
    border-color: rgba(255, 255, 255, 0.3);
    color: white;
}
input[type="checkbox"]:checked::before {
    border-radius: 2px;
    transform: scale(1) translate(-50%, -50%) 
    /* scale(1) : 해당 요소의 본래 치수를 유지하고 그 이상의 값 > 늘림 그 이하의 값 < 줄임*/
}

/* 버튼 */
button {
    background-color: #c1c1c1;
    border: none;
    transition: all 0.2s cubic-bezier(.4,0,.2,1);
    color: white;
    height: 2.2rem;
    width: 6rem;
    padding: 1.5em auto;
    border-radius: 3px;
}
button:hover {
    background-color: #9D9D9D;
}
#greenBtn:hover {
    background-color: #195F1C;
}
#greenBtn {
    background-color: #538E04;
}

#fav_food div, #fav_diet div {
    padding: 0.2rem;
}

h3 {
    font-weight: 700;
}

.btn {
    display: flex;
    justify-content: center;
}

.btn button {
    margin: 0 5px;
}

.btn form {
    margin: 0;
}

#userving {
    text-align: center;
}

@media (max-width: 500px) {
    * {
        font-size: 14px;
    }

    .searchContainer {
        width: 100vw;
        margin-top: 2rem;
    }

    .dietinfonotname {
        display: none;
    }

    .searchdiv {
        width: 80%;
        margin: 0 auto !important;
    }

    .searchip {
        width: 80%;
    }

    .searchbtn {
        width: 40px;
    }

    .searchtab {
        padding: 0 3%;
    }

    .fav_diets, .user_select{
        padding: 2rem;
    }

    #usercheck{
        right: -0.5rem;
        top: 1rem;
    }

    .search_hr {
        width: 110%;
    }

    .user_search {
        width: 90%;
    }

    .searchInfo span{
        font-size: 10px;
    }

    .tab1, .tab2, .tab3 {
        font-size: 0.8rem;
    }
}